.badget {
  font-size: 0.8rem;
  color: white;
  background-color: #03bb3f;
  padding: 0.25rem;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.badget img {
  width: 1rem;
  height: 1rem;
}
